/* Með CSS stjórnarðu ´tliti síðunnar, eins og litum, leturgerð, og staðsetningu
innihledsins. En sjálft innihald síðunnar er í HTML kóðanum.
Til þess að læra að gera eitthvað, prófaðu að leita á google af því sem þú vilt vita, til dæmis:
"how to change link color." */

body {
  background-color: #6600cc;
  color: #ff6600;
  text-align: center;
}

h1{
  color: #ff6600;
  background-color: #6600cc;
  text-align: center;
}

a{
  color: #ff9900;
  text-align: left;

}

a:hover {
  color: #ff6600;
  font-size: 30px;

}

ul {
  list-style-type: none;

}

li{
  text-align: left;
